.sell-container {
  background: #0b1a2f;
  min-height: 100vh;
  padding: 30px;
  text-align: center;
  color: white;
}

.sell-form {
  background: white;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sell-form input {
  padding: 10px;
}

.sell-form button {
  padding: 10px;
  background: blue;
  color: white;
  border: none;
}

.add-btn {
  margin: 20px;
  padding: 10px;
  background: green;
  color: white;
  border: none;
}

.animal-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.flip-card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-body {
  padding: 10px;
  color: black;
}

.price {
  color: green;
}

.open-btn {
  width: 100%;
  padding: 8px;
  background: orange;
  border: none;
  color: white;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  color: black;
}

.close {
  float: right;
  cursor: pointer;
  color: red;
}

.preview img {
  width: 70px;
  margin: 5px;
}